@mixin font($size, $weight, $color) {
  font-family: "TT Hoves";
  font-style: normal;
  font-weight: $weight;
  font-size: $size;
  color: $color;
}

@mixin flex($display, $justify, $align) {
  display: $display;
  justify-content: $justify;
  align-items: $align;
}
