@import "../components/header";

.container {
  max-width: 1170px;
  margin: 0 auto;
}

body {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
}
